.col { 
  border: 1px solid rgb(251, 12, 12);
  font-size: 60px;
  font-family:'Roboto Mono', monospace;
  text-align: center;
  font-weight: 800;
  margin-right: 5px;
  margin-top: 20px;

}

h1 {
  text-align: center;
}